body {
    margin: 20px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;  
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #049CF5;
    color: #fff75e;
    border-bottom: 6px solid #DF0808;
    text-shadow: 2px 2px #ff4d6d;
}

.card h3, p, h4:hover {
    cursor: pointer;
}


